# Make lombok generate toString, equals, and hashCode methods
lombok.equalsAndHashCode.callSuper = call
lombok.tostring.callSuper = call

# Generate getters and setters
lombok.getter.noIsPrefix = false
lombok.accessors.chain = true

# Ensure lombok annotations are added to the bytecode
lombok.addLombokGeneratedAnnotation = true

# Define which fields to use for equals and hashCode
lombok.equalsAndHashCode.doNotUseGetters = false